#cloudySun {
  background-image: url("../assets/img/cloudySun.png");
}
#cloudySunRain {
  background-image: url("../assets/img/cloudySunRain.png");
}
#cloudyMoon {
  background-image: url("../assets/img/cloudyMoon.png");
}
#cloudyMoonRain {
  background-image: url("../assets/img/cloudyMoonRain.png");
}
#cloudy {
  background-image: url("../assets/img/cloudy.png");
}
#thunderDark {
  background-image: url("../assets/img/thunderDark.png");
}
#sun {
  background-image: url("../assets/img/sun.png");
}
.star {
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.weatherImg {
  width: 100px;
  height: 100px;
}
