.search-Box{
    background-color:transparent;
    border-radius: 16px;
    height: 40%;
    color: gold;
}
.search-Box h1{
    font-size: 100px;
    font-weight: 800;
}
.form label{
    color: aliceblue;
    font-weight: 500;
    font-size: 30px;
}
.form_ {
    box-shadow: gold 20px 20px 8px;
    border: none;
    border-radius: 12px;
    margin: 1rem;
    height: 50px;
    width: 200px;
    text-align: center;
}
